Source: rootactions-servicemenu
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Browser: http://kde-apps.org/content/show.php/Root+Actions+Servicemenu?content=48411

Package: rootactions-servicemenu
Architecture: all
Depends: perl
 , kdesudo
 , dolphin
 , kate
Description: A Root actions service menu in dolphin and konquor
 A Root actions service menu in dolphin and konquor
